@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Demo app to demonstrate usage for virtual machines using Application Insights Agent (.NET framework) to demonstrate functionalities like auto instrumentation approach, advanced SQL tracking to get full SQL query, etc.
</p>

