@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample app</h1>
    <p class="lead">Simple web app for demonstrating usage of Application Insights Agent for .NET framework</p>
    <p>Click on the menu options to generate data to be reviewed in the application insights</p>
</div>

